In [5]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats
import pandas as pd
import numpy as np
from adjustText import adjust_text
import matplotlib.pylab as plt

In [8]:
data = pd.read_csv("data_adj/filtered_counts_matrix.tsv", sep="\t")
data = data.set_index(data["gene_id"])
data = data.drop('gene_id', axis=1)

In [9]:
data.head()

,LB_10.5_NA_1,LB_10.5_NA_2,SM_0_NA_1,SM_0_NA_2,MB_1,MB_2,MT_1,MT_2
gene_id,,,,,,,,
ENSMUSG00000099183.1,0,0,1,4,12,4,12,19
ENSMUSG00000065559.1,96,350,298316,447669,70786,15451,2584038,4111798
ENSMUSG00000065480.1,4,25,2556,4440,2433,306,103180,104254
ENSMUSG00000065405.3,18023,20008,17696,20188,223146,132440,46398,64996
ENSMUSG00000065567.1,125,57,51,87,5289,1440,535,812

In [10]:
metadata = pd.read_csv("data_adj/metadata.tsv", sep="\t",
                      usecols=["File.accession", "Biosample.term.name", "Age", "Sample"])

In [11]:
# Filter metadata DataFrame based on matching samples in merged_df
metadata_filtered = metadata[metadata['Sample'].isin(data.columns)].copy()

# Sort filtered_metadata based on the order of columns in merged_df
metadata_filtered['Sample'] = pd.Categorical(metadata_filtered['Sample'], categories=data.columns)
metadata_filtered.sort_values('Sample', inplace=True)

In [12]:
filtering = {'Biosample.term.name': ['C2C12', 'myotube'],#whatever you need from the biosample names
             'Age': ["0","72"]}
group = 'Age' # change to the group you're interested in making the comparison in

In [13]:
metadata_selected = metadata_filtered.copy(deep=True)

In [14]:
for col in filtering.keys():
    metadata_selected = metadata_selected[metadata_selected[col].isin(filtering[col])]

In [15]:
metadata_selected

   File.accession Biosample.term.name Age Sample
0     ENCFF784UWQ               C2C12   0   MB_1
1     ENCFF094EFP               C2C12   0   MB_2
45    ENCFF767VQY             myotube  72   MT_1
46    ENCFF892ZEY             myotube  72   MT_2

In [16]:
metadata_selected.index = metadata_selected['Sample']
data_selected = data.loc[:, metadata_selected['Sample']]

In [17]:
data_selected

                        MB_1    MB_2     MT_1     MT_2
gene_id
ENSMUSG00000099183.1      12       4       12       19
ENSMUSG00000065559.1   70786   15451  2584038  4111798
ENSMUSG00000065480.1    2433     306   103180   104254
ENSMUSG00000065405.3  223146  132440    46398    64996
ENSMUSG00000065567.1    5289    1440      535      812
...                      ...     ...      ...      ...
ENSMUSG00000099172.1       0       0        0        0
ENSMUSG00000093219.1      13       3        8       23
ENSMUSG00000065602.1   57897   15115     3302     1277
ENSMUSG00000065536.2  189764   38714     7498     1579
ENSMUSG00000106618.1       0       0        0        0

[1096 rows x 4 columns]

In [18]:
metadata_selected

       File.accession Biosample.term.name Age Sample
Sample
MB_1      ENCFF784UWQ               C2C12   0   MB_1
MB_2      ENCFF094EFP               C2C12   0   MB_2
MT_1      ENCFF767VQY             myotube  72   MT_1
MT_2      ENCFF892ZEY             myotube  72   MT_2

In [19]:
dds = DeseqDataSet(
    counts=data_selected.T,
    clinical=metadata_selected,
    design_factors=group,
    refit_cooks=True)

dds.deseq2()
stat_res = DeseqStats(dds, 
                      contrast=[group] + filtering[group])
stat_res.summary()

Fitting size factors...
... done in 0.00 seconds.

/opt/apps/python/3.8.0/lib/python3.8/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

Fitting dispersions...
... done in 5.46 seconds.

Fitting dispersion trend curve...
... done in 0.98 seconds.

Fitting MAP dispersions...
... done in 3.91 seconds.

Fitting LFCs...
... done in 1.58 seconds.

Refitting 0 outliers.

Running Wald tests...
... done in 0.99 seconds.

Log2 fold change & Wald test p-value: Age 0 vs 72

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
gene_id,,,,,,
ENSMUSG00000099183.1,1.392817e+01,-2.501441,0.839791,-2.978648,2.895232e-03,1.221350e-02
ENSMUSG00000065559.1,2.563038e+06,-7.964103,0.509675,-15.625860,4.853265e-55,4.060565e-53
ENSMUSG00000065480.1,8.145297e+04,-8.123244,0.568940,-14.277867,3.006656e-46,1.886677e-44
ENSMUSG00000065405.3,9.762195e+04,0.358588,0.450022,0.796824,4.255531e-01,5.666516e-01
ENSMUSG00000065567.1,1.355881e+03,0.707733,0.468140,1.511798,1.305852e-01,2.511639e-01
...,...,...,...,...,...,...
ENSMUSG00000099172.1,0.000000e+00,NaN,NaN,NaN,NaN,NaN
ENSMUSG00000093219.1,1.338420e+01,-2.543241,0.885007,-2.873695,4.056999e-03,1.631120e-02
ENSMUSG00000065602.1,1.091434e+04,2.261555,0.596205,3.793250,1.486881e-04,9.569413e-04
ENSMUSG00000065536.2,3.049380e+04,2.804039,1.144619,2.449758,1.429524e-02,4.375737e-02
ENSMUSG00000106618.1,0.000000e+00,NaN,NaN,NaN,NaN,NaN

In [20]:
l2fc_cutoff = 2 # Log 2 fold change; usually 0.5 - 2
pval_cutoff = 0.05 # 0.01 is even better than 0.05

In [21]:
annot = pd.read_csv("/data/class/cosmos2023/PUBLIC/ref/mus_musculus/transcripts_to_genes.txt",sep="\t",header=None)
annot = pd.read_csv("/data/class/cosmos2023/PUBLIC/ref/mus_musculus/transcripts_to_genes.txt",sep="\t",
                    header=None,names=['transcript_id', 'gene_id', 'gene_name'])

annot = annot[["gene_id", "gene_name"]]
annot = annot.drop_duplicates()

In [22]:
annot.head()

                gene_id      gene_name
0  ENSMUSG00000102693.1  4933401J01Rik
1  ENSMUSG00000064842.1        Gm26206
2  ENSMUSG00000051951.5           Xkr4
5  ENSMUSG00000102851.1        Gm18956
6  ENSMUSG00000103377.1        Gm37180

In [23]:
df = stat_res.results_df.copy(deep=True)

In [24]:
# Find the machine-specific lowest non-zero value
lowest_nonzero_value = df['padj'][df['padj'] > 0].min()

# Replace 0 with the lowest non-zero value
df['padj'] = np.where(df['padj'] == 0, lowest_nonzero_value, df['padj'])

df = df.dropna()
df = df.merge(annot, left_index=True, right_on='gene_id')
df

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,gene_id,gene_name
382,1.392817e+01,-2.501441,0.839791,-2.978648,2.895232e-03,1.221350e-02,ENSMUSG00000099183.1,Gm27881
574,2.563038e+06,-7.964103,0.509675,-15.625860,4.853265e-55,4.060565e-53,ENSMUSG00000065559.1,Mir206
575,8.145297e+04,-8.123244,0.568940,-14.277867,3.006656e-46,1.886677e-44,ENSMUSG00000065480.1,Mir133b
652,9.762195e+04,0.358588,0.450022,0.796824,4.255531e-01,5.666516e-01,ENSMUSG00000065405.3,Mir30a
654,1.355881e+03,0.707733,0.468140,1.511798,1.305852e-01,2.511639e-01,ENSMUSG00000065567.1,Mir30c-2
...,...,...,...,...,...,...,...,...
23204,3.657965e+00,-0.317681,1.390435,-0.228476,8.192760e-01,8.769223e-01,ENSMUSG00000099272.1,Mir7093
23585,1.489747e+04,0.791811,0.406366,1.948515,5.135332e-02,1.269920e-01,ENSMUSG00000076011.1,Mir652
23906,1.338420e+01,-2.543241,0.885007,-2.873695,4.056999e-03,1.631120e-02,ENSMUSG00000093219.1,Mir3113
23907,1.091434e+04,2.261555,0.596205,3.793250,1.486881e-04,9.569413e-04,ENSMUSG00000065602.1,Mirlet7f-2
23908,3.049380e+04,2.804039,1.144619,2.449758,1.429524e-02,4.375737e-02,ENSMUSG00000065536.2,Mir98

In [25]:
# Calculate -log10(padj)
df['nlog10padj'] = -np.log10(df['padj'])

# Add labels to DE column based on our cutoffs above
df['DE'] = "No"
df.DE[np.logical_and(df.padj < pval_cutoff, df.log2FoldChange > l2fc_cutoff)] = "Up"
df.DE[np.logical_and(df.padj < pval_cutoff, df.log2FoldChange < -l2fc_cutoff)] = "Down"

/tmp/ipykernel_554672/1959988433.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.DE[np.logical_and(df.padj < pval_cutoff, df.log2FoldChange > l2fc_cutoff)] = "Up"
/tmp/ipykernel_554672/1959988433.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.DE[np.logical_and(df.padj < pval_cutoff, df.log2FoldChange < -l2fc_cutoff)] = "Down"

In [26]:
df

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,gene_id,gene_name,nlog10padj,DE
382,1.392817e+01,-2.501441,0.839791,-2.978648,2.895232e-03,1.221350e-02,ENSMUSG00000099183.1,Gm27881,1.913160,Down
574,2.563038e+06,-7.964103,0.509675,-15.625860,4.853265e-55,4.060565e-53,ENSMUSG00000065559.1,Mir206,52.391414,Down
575,8.145297e+04,-8.123244,0.568940,-14.277867,3.006656e-46,1.886677e-44,ENSMUSG00000065480.1,Mir133b,43.724303,Down
652,9.762195e+04,0.358588,0.450022,0.796824,4.255531e-01,5.666516e-01,ENSMUSG00000065405.3,Mir30a,0.246684,No
654,1.355881e+03,0.707733,0.468140,1.511798,1.305852e-01,2.511639e-01,ENSMUSG00000065567.1,Mir30c-2,0.600043,No
...,...,...,...,...,...,...,...,...,...,...
23204,3.657965e+00,-0.317681,1.390435,-0.228476,8.192760e-01,8.769223e-01,ENSMUSG00000099272.1,Mir7093,0.057039,No
23585,1.489747e+04,0.791811,0.406366,1.948515,5.135332e-02,1.269920e-01,ENSMUSG00000076011.1,Mir652,0.896224,No
23906,1.338420e+01,-2.543241,0.885007,-2.873695,4.056999e-03,1.631120e-02,ENSMUSG00000093219.1,Mir3113,1.787514,Down
23907,1.091434e+04,2.261555,0.596205,3.793250,1.486881e-04,9.569413e-04,ENSMUSG00000065602.1,Mirlet7f-2,3.019115,Up
23908,3.049380e+04,2.804039,1.144619,2.449758,1.429524e-02,4.375737e-02,ENSMUSG00000065536.2,Mir98,1.358949,Up

In [ ]:
import matplotlib.pyplot as plt
from adjustText import adjust_text

df['label'] = df.gene_name
df.label[df.DE == "No"] = ""

# Create the figure
fig, ax = plt.subplots()

# Set the figure size
fig.set_size_inches(10, 10)

# Plot whole df first (with small size dots)
ax.scatter(x=df['log2FoldChange'], y=df['nlog10padj'], s=1, label="Not significant")

# Highlight up- or down-regulated genes
down = df[df.DE == "Down"]
down.sort_values(["padj"], inplace=True)
up = df[df.DE == "Up"]
up.sort_values(["padj"], inplace=True)

# Overlay up- and down-regulated gene dfs with larger label and specific color
ax.scatter(x=down['log2FoldChange'], y=down['nlog10padj'], s=3, label="Down-regulated", color="blue")
ax.scatter(x=up['log2FoldChange'], y=up['nlog10padj'], s=3, label="Up-regulated", color="red")

# Display names of top 20 up- or down-regulated genes
n_genes = 20
texts = []
for i in range(min(n_genes, up.shape[0])):
    texts.append(ax.text(x=up.iloc[i, 1],
                         y=up.iloc[i, 8],
                         s=up.iloc[i, 7]))
for i in range(min(n_genes, down.shape[0])):
    texts.append(ax.text(x=down.iloc[i, 1],
                         y=down.iloc[i, 8],
                         s=down.iloc[i, 7]))
adjust_text(texts, arrowprops=dict(arrowstyle="-", color='black', lw=0.5))

# Draw lines indicating lfc and padj cutoffs
ax.set_xlabel("logFC")
ax.set_ylabel("-log10(adj. p-value)")
ax.axvline(l2fc_cutoff, color="grey", linestyle="--")
ax.axvline(-l2fc_cutoff, color="grey", linestyle="--")
ax.axhline(-np.log10(pval_cutoff), color="grey", linestyle="--")

# Draw legend
ax.legend()

# Add a title to the plot
ax.set_title("C2C12 0hr vs 72hr")
#ax.set_title("Skeletal Muscle Embryonic vs PND0")

# Save the plot as a high-resolution PNG with specific width and height
output_file = "volcano_c2c12.png"
#output_file = "volcano_skeletal.png"
plt.savefig(output_file, dpi=300)

# Show the plot
plt.show()